In [1]:
import pandas as pd

In [2]:
DATA_DIR = 'C:/Users/centu/OneDrive/Dokumenty/complex-data/'

In [3]:
data_file = 'schedule_info.csv'

In [4]:
columns = ['schedule_id', 'stop_number', 'station_id', 'arrival_time', 'arrival_delay', 'departure_time', 'departure_delay']

In [5]:
df = pd.read_csv(DATA_DIR + data_file, names=columns)

In [6]:
df.head()

,schedule_id,stop_number,station_id,arrival_time,arrival_delay,departure_time,departure_delay
0,50049154,0,43,NaN,NaN,2017-12-11 04:40:00,0.0
1,50049154,1,42,2017-12-11 04:44:00,0.0,2017-12-11 04:45:00,0.0
2,50049154,2,41,2017-12-11 04:51:00,0.0,2017-12-11 04:52:00,0.0
3,50049154,3,832,2017-12-11 04:58:00,0.0,2017-12-11 04:58:30,0.0
4,50049154,4,780,2017-12-11 05:00:30,0.0,2017-12-11 05:01:00,0.0

In [12]:
df['arrival_time_dt'] = pd.to_datetime(df['arrival_time'], infer_datetime_format=True)

In [13]:
df['departure_time_dt'] = pd.to_datetime(df['departure_time'], infer_datetime_format=True)

In [14]:
df.head()

,schedule_id,stop_number,station_id,arrival_time,arrival_delay,departure_time,departure_delay,arrival_time_dt,departure_time_dt
0,50049154,0,43,NaN,NaN,2017-12-11 04:40:00,0.0,NaT,2017-12-11 04:40:00
1,50049154,1,42,2017-12-11 04:44:00,0.0,2017-12-11 04:45:00,0.0,2017-12-11 04:44:00,2017-12-11 04:45:00
2,50049154,2,41,2017-12-11 04:51:00,0.0,2017-12-11 04:52:00,0.0,2017-12-11 04:51:00,2017-12-11 04:52:00
3,50049154,3,832,2017-12-11 04:58:00,0.0,2017-12-11 04:58:30,0.0,2017-12-11 04:58:00,2017-12-11 04:58:30
4,50049154,4,780,2017-12-11 05:00:30,0.0,2017-12-11 05:01:00,0.0,2017-12-11 05:00:30,2017-12-11 05:01:00

In [10]:
df['arrival_time_dt'].min()

Timestamp('2017-12-10 00:28:00')

In [15]:
df['departure_time_dt'].min()

Timestamp('2017-12-10 00:28:30')

In [16]:
df['arrival_time_dt'].max()

Timestamp('2018-12-08 23:59:30')

In [17]:
df['departure_time_dt'].max()

Timestamp('2018-12-08 23:59:48')